@font-face {
    font-family: 'Arial';
    src: url('../fonts/bpg_arial_2009.ttf');
}

body {
    margin: 0;
    font-family: 'Arial';
    font-size: 12px;
}

table,
th,
td {
    border-spacing: 0;
    padding: 0;
}

.air_tank_certificate {
    margin: auto;
    width: 800px;
}


/* Certificate title */

.certificate_title {
    text-align: center;
    font-size: 20px;
}


/* PTI info, Document title and Certificate */

.document_header {
    margin: 10px 0;
    width: 100%;
    text-align: right;
    background-image: url('../images/sertificate.png');
    background-position: right top;
    background-repeat: no-repeat;
}

.pti_info_container {
    margin: 0 200px 0 0;
    border: 1px solid black;
    border-collapse: collapse;
    float: right;
}

.pti_info_container td {
    border: 1px solid black;
}

.pti_logo img {
    display: block;
    margin: 5px;
    max-width: 100px;
    max-height: 100px;
}

.pti_info {
    padding: 5px;
    text-align: center;
}

.document_title_container {
    padding: 0 200px 0 0;
}


/* Inspection type */

.inspection_types {
    margin: 10px 0 10px 0;
    width: 100%;
}

.inspection_types td {
    width: 400px;
}

.inspection_types tr td:last-child {
    text-align: right;
}


/* First data table */

.first_data_table {
    margin: 10px 0 10px 0;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.first_data_table td {
    border: 1px solid black;
    width: 267px;
    padding: 5px 0 5px 5px;
    text-align: left;
    vertical-align: center;
}

.first_data_table tr:last-child .data_value {
    font-style: italic;
}

.data_value {
    font-weight: 800;
}


/* Second data table */

.second_data_table {
    margin: 10px 0 10px 0;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.second_data_table td {
    border: 1px solid black;
    border-right: none;
    padding: 5px 0 5px 5px;
    text-align: left;
    vertical-align: center;
}

.second_data_table .checkbox_container {
    width: 25px;
    border-left: none;
}

.second_data_table .empty {
    background-image: url('../images/empty.svg');
    background-size: 15px 15px;
    background-position: center center;
    background-repeat: no-repeat;
}

.second_data_table .valid {
    background-image: url('../images/valid.svg');
    background-size: 15px 15px;
    background-position: center center;
    background-repeat: no-repeat;
}

.second_data_table .invalid {
    background-image: url('../images/invalid.svg');
    background-size: 15px 15px;
    background-position: center center;
    background-repeat: no-repeat;
}


/* Results table */

.results_table {
    margin: 10px 0 10px 0;
    width: 100%;
    font-weight: 800;
}

.results_table th {
    text-align: left;
    vertical-align: bottom;
}

.results_table td {
    width: 225px;
    text-align: center;
    vertical-align: bottom;
}


/* Inspector table */

.inspector {
    margin: 30px 0 10px 0;
    width: 100%;
}

.inspector th {
    text-align: left;
    vertical-align: middle;
}

.inspector td {
    width: 225px;
    text-align: center;
}

.inspector hr {
    border: none;
    border-top: 1px solid black;
}


/* Date */

.date {
    margin: 10px 0 10px 0;
    width: 100%;
}

.date th {
    width: 350px;
    text-align: left;
}

.date td {
    text-align: right;
}


/* Signature */

.signature {
    margin: 30px 0 10px 0;
    width: 100%;
}

.signature th {
    text-align: left;
}

.signature td {
    width: 450px;
}

.signature hr {
    border: none;
    border-top: 1px solid black;
}

.notes {
    margin: 30px 0 10px 0;
    font-style: italic;
}