@font-face {
    font-family: 'Arial';
    src: url('../fonts/bpg_arial_2009.ttf');
}

body {
    margin: 0;
    font-family: 'Arial';
    font-size: 15px;
}

table,
th,
td {
    border-spacing: 0;
    padding: 0;
}

hr {
    border: none;
    border-top: 1px solid black;
}

.header {
    margin: 50px 0;
    width: 100%;
}

.pti_center_info_container {
    margin: 0 30px 0 0;
    float: right;
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
}

.pti_center_info_container td {
    border: 1px solid black;
}

.pti_center_info {
    text-align: center;
}

.pti_center_info .pti_center_logo {
    width: 100px;
    text-align: center;
}

.pti_center_logo img {
    display: block;
    margin: 10px auto;
    max-width: 100px;
    max-height: 100px;
}

.certificate {
    width: 153px;
}

.certificate img {
    display: block;
}

.air_tank_certificate {
    margin: auto;
    width: 800px;
}

.certificate_title,
.title {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.title_italic,
.inspection_date,
.owner_name,
.owner_id,
.air_tank_type,
.air_tank_id,
.air_tank_validity_period,
.invalidity_reason,
.next_inspection_date,
.inspector_name {
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
}

.spacer {
    padding-left: 143px;
}

.inspector {
    width: 100%;
}

.inspector td {
    width: 50%;
}

.stamp_place {
    text-align: right;
}

.signature_one {
    margin: 20px 0 20px;
    width: 100%;
}

.signature_one td {
    width: 50%;
}

.pti_results {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.pti_results td {
    border: 1px solid black;
    padding: 5px 0;
    text-align: center;
}

.pti_result_value {
    display: inline-block;
    padding: 40px 0;
    font-weight: 800;
}

.second_signature {
    margin: 100px 0 20px;
    width: 100%;
}

.second_signature td {
    width: 25%;
    padding: 0 0 0 10px;
    text-align: center;
    vertical-align: top;
}